@import './base.styl'

.App
  color white
  background-color $colorBg

  min-height 100vh

  display flex
  flex-direction column
  align-items center
  justify-content center

  font-size 14px

.App-link
  color $colorLink
