@import '../../base.styl'

.form
  width 500px
  line-height 3

.form-input
  font-size 14px
  color $colorText
  background transparent
  box-sizing border-box
  display block
  width 100%
  border 1px solid $colorMain

  padding 5px 10px

  width 100%
  display block

  &:-webkit-input-placeholder
    color $colorTextAlt

.form-link
  &,&:link,&:visited,&:hover,&:active
    color $colorLink
